/**
 * Vendor styles go here
 **/

 @import '~bootstrap/dist/css/bootstrap.css';

/**
 * Global styles go here
 **/

html, body {
  margin: 0;
  padding: 0;
}

body {
   background-color: #FAFAFA;
   font-family: 'futura-pt', sans-serif;
}
